<h3>Password reset</h3>

Hi {{ username }}!

You asked to reset your password. Please click to the following link to carry on with the procedure. Please proceed in the next 10 minutes.

{{ passwordResetUrl }}

If it is not the case, you can just ignore this email.

Thanks!

The Snowtricks team.