{% extends 'base.html.twig' %}

{% block title %}Liste des tricks{% endblock %}

{% block body %}
    {% for trick in tricks %}
        <ul>
            <li>
                <p><a href="/trick/{{ trick.id }}">{{ trick.name }}</a></p>
                <p>Created on {{ trick.createdAt | date("d/m/Y") }}</p>
            </li>
        </ul>
    {% endfor %}
{% endblock %}