{% extends 'base.html.twig' %}

{% block title %}Liste des tricks{% endblock %}

{% block body %}
    {# @var trick Trick #}
    <h1>{{ trick.name }}</h1>
    <h2>{{ trick.group }}</h2>
    <p>{{ trick.description }}</p>
{% endblock %}