{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New user registration{% endblock %}

{% block body %}

    <h1>Formulaire d'enregistrement</h1>

    {{ include('User/_userForm.html.twig') }}


{% endblock %}